body {
	font-family: Times New Roman;
	font-size: 17px;
	color: black;
}
.image {
	width: 170px;
	height: 55px;
}

.heading {
	color: red;
}

.text {
	line-height: 1.4em;
	background: blue;
	width: 110px;
	height: 96px;
	color: #ffffff;
	margin-bottom: 130px;
}

.fontred span {
 color: red;
}
h2 {
	background: green;
	color: #ffffff;
}
.headone {
	padding: 5px 5px;
}

.headtwo {
	padding: 47px 60px;
}

.fontmargin {
	margin: 20px 80px;
}

.headthree {
	padding: 5px 5px;
}
ul {
	margin: 30px 20px;
}
li {
	border: 2px solid black;
	font-size: 32px;
}

